name: Goose CI

on: [push, pull_request]

jobs:
  test:
    name: Run Go tests
    timeout-minutes: 10
    env:
      GO111MODULE: off

    strategy:
      matrix:
        go-version: [1.14.x, 1.15.x, 1.16.x]
        # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: |
          mkdir -p bin
          go test -v ./...
