name: Goose integration tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Run integration tests
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "stable"
      - name: Install tparse
        run: |
          mkdir -p $HOME/.local/bin
          curl -L -o $HOME/.local/bin/tparse https://github.com/mfridman/tparse/releases/latest/download/tparse_linux_x86_64
          chmod +x $HOME/.local/bin/tparse
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
      - name: Run full integration tests
        run: |
          make test-integration
